html{
    margin:2%;
    border:gray solid;
    color:gray;
    background-color:rgb(231, 231, 231);
    font-family: Century gothic;
}
p{
    font-size: 20px;
}
header, footer{
    background-color:lightgray;
    padding: 5px;
    text-align: center;
}
header h1{
    font-size: 45px;
}
header p{
    font-size: 25px;
}
.menu a{
    padding: 3px;
    margin: 5px;
    text-decoration: underline;
    font-size: 20px;
    color:gray
}
.menu a:hover,main a:hover{
    color:darkgray;
}
.mainhead{
    text-align: center;
}
main{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    margin:5% 6%;
    text-align: center;
    position: relative;
}
main a{
    text-decoration: none;
    color: gray;
    margin: 2% 5%;
}
main img:hover{
    opacity: 0.5;
}


/*
.item p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.item img:hover{
    opacity: 0.33;
}
.item img:hover p{
    opacity: 1;
}